{% extends 'quiz/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <!-- Bootstrap core CSS-->
      <link href="{% static '/info/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom fonts for this template-->
      <link href="{% static '/info/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  
      <!-- Page level plugin CSS-->
      <link href="{% static '/info/bootstrap/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Students</h6>
    </div>
    <table class="col-sm-12 table table-bordered table-striped table-condensed cf" id="dev-table">
      <thead>
        <tr>

          <th>Name</th>
          <th>Mobile</th>
          <th>Address</th>
         
         
          <th>Delete</th>
        </tr>
      </thead>
      {% for t in students %}
      <tr>

        <td> {{t.user}}</td>
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>
      
        <td><a class="btn btn-danger btn-xs" href="'delete_student' t.id "><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}